.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.account-card{
    width: 40vw;
    height: 60vh;
}

.btn-default {
    border-color: rgba(2, 2, 2, 0.1);
    background: rgba(0,0,0,0);
    color: #ffffff;
    background-color: #4e4d4d;
}

.save-button:hover {
    background-color: #28a745;
    border-color: #28a745;
  }
.cancel-button:hover{
    background-color: #28a745;
    border-color: #28a745;
    color:#fff;
}
  

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #0d0d0e;
    background: transparent;
    color: #000000;
}
.btn-primary{
    background-color: #4b4b4b;
}


.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}



.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}
