


.Home {
  background-image: url("b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}








.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #032d62;
  padding: 10px;
  color: white;
  font-family: 'Roboto', sans-serif !important;
  width: 100%;
}

.navbar-second{
  background-color: #1858a8;
  width: 100%;
  height: 5vh;
}

.navbar-second-middle{
  display: flex;
  justify-content: center;
}

.email-textfield{

  border:none;
  outline:0;
  border-radius:5px;
  border:1px solid #cbced4;
  gap:20px;
  padding:0px 10px;
}



.navbar-left {
  flex: 1;

}

.navbar-middle {
  display: flex;
  justify-content: center;
  flex: 2;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.navbar-title {
  font-size: 20px;
  transform: scale(1.9);
  margin-left:170px;
  font-family: 'Roboto', sans-serif;
}

.navbar-button {
  font-size: 19px;
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.navbar-button:hover {
  background-color: #ffa807;
}
.navbar-button-left {
  font-size: 19px;
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  
  justify-content: flex-start;
}

.navbar-button-left:hover {
  background-color: #ffa807;
}


.box {
  width: 325px;
  height: 315px;
  border: 2px solid rgb(214, 213, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px;
  max-width: 100%;
}

.head{
    display: block;
    color:white;
    font-size: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.head.head-hovered{
  color:#1858a8;
}

.box.hovered {
  width: 330px;
  height: 350px;
  background-color: #f7f5f5;

}

.box-text.text-hovered{
  color:#1858a8;
}

.box-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transform: scale(1.0);
  min-width: 100%;
  height: auto;
  font-family: Helvetica Neue,sans-serif;
  font-weight: 400;
  text-align: center;
  
}


.box-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(9, 11, 148);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.box-button:hover {
  background-color: #f86707;
  color: white;
}

.desc{
  font-family: Helvetica Neue,sans-serif;
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    display: flex;
  align-items: center;
  justify-content: center;
}




.header{
    margin-top:25px;
    font-family: Helvetica Neue,sans-serif !important;
    color: white;
    font-weight: 700;
    font-size: 60px;
    font-size: 2.5rem;
    line-height: 1.2;
    display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contwrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}




.content {
  margin-bottom: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  position: relative;
}

.trans{
  background-color: #1858a8;
  min-height: 100%;
}

.table-container{
  background-color: #ffffff;
}

.control{
  color: #000000;
}

.control-head{
  color: #000000;
}

.table-wrapper{
  background-color: #1858a8;
  height: 100%;
}

.message{
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  margin-top: 2vh;
}
.issues{
  background-image: url("support.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
}

.enlarged-textbox {
  width: 40vw;  
  margin-left: 30vw;
  margin-top: 20vh;
  height: 200px;
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border-color: gray;
}

.textbox-header {
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 18px;
}

.submit{
  margin-left: 47vw;
  margin-top: 2vh;
  background-color: #007bff; /* Set the button color */
  color: #fff; /* Set the text color */
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}
.submit:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.checkmark{
  width: 30px;
  height: 30px;
}


.title-rep{
  font-size: 40px;
  margin-left: 45vw;
  color: #fff;
  margin-top: 1vh;
}

.right-rep{
  color: #fff;
  margin-left: 38vw;
  font-size: 25px;

}



















  
